windowsBuild=ltsc2022
tag=nanoserver-${windowsBuild}
repo=https://hub.docker.com/r/jetbrains/
# https://hub.docker.com/_/microsoft-powershell
powershellImage=mcr.microsoft.com/powershell:nanoserver-${windowsBuild}
# https://hub.docker.com/_/microsoft-windows-nanoserver
nanoserverImage=mcr.microsoft.com/windows/nanoserver:${windowsBuild}