tag=latest-nanoserver-1809
repo=
# https://hub.docker.com/_/microsoft-powershell
powershellImage=mcr.microsoft.com/powershell:nanoserver-1809
# https://hub.docker.com/_/microsoft-windows-nanoserver
nanoserverImage=mcr.microsoft.com/windows/nanoserver:1809
teamcityWindowsservercoreImage=teamcity-agent:latest-windowsservercore-1809