linuxVersion=-raspberrypi-20.04
repo=https://hub.docker.com/r/jetbrains/
# https://hub.docker.com/_/ubuntu/
ubuntuImage=ubuntu:20.04

# ARG jdkLinuxComponent
# ARG jdkLinuxComponentMD5SUM
jdkLinuxComponentMD5SUM=234149693da218f25a610a363d376bfd
jdkLinuxComponent=https://${proxyUrl}corretto.aws/downloads/resources/8.272.10.3/amazon-corretto-8.272.10.3-linux-aarch64.tar.gz
jdkLinuxComponentName=JDK <img align="center" height="18" src="/logo/corretto.png"> Amazon Corretto aarch64 v.8.272.10.3 Checksum (MD5) ${jdkLinuxARM64ComponentMD5SUM}
