tag=latest-nanoserver-1909
repo=
# https://hub.docker.com/_/microsoft-powershell
powershellImage=mcr.microsoft.com/powershell:nanoserver-1909
# https://hub.docker.com/_/microsoft-windows-nanoserver
nanoserverImage=mcr.microsoft.com/windows/nanoserver:1909
teamcityWindowsservercoreImage=teamcity-agent:latest-windowsservercore-1909