version: '2'
services:
  teamcity-server:
    image: teamcity-server:local-nanoserver-2004
    ports:
     - "8112:8111"
 
  teamcity-agent-dotnet:
    image: teamcity-agent:nanoserver-dotnet
    environment:
      - SERVER_URL=teamcity-server:8111