linuxVersion=-arm64-18.04
repo=
teamcityMinimalAgentImage=teamcity-minimal-agent:${versionTag}-linux${linuxVersion}
dotnetLibs=libc6 libgcc1 libgssapi-krb5-2 libicu60 libssl1.1 libstdc++6 zlib1g

# https://packages.ubuntu.com/bionic/git
# http://ppa.launchpad.net/git-core/ppa/ubuntu/dists/bionic/main/binary-arm64/
gitLinuxComponentVersion=1:2.38.0-0ppa1~ubuntu18.04.1
gitLinuxComponentName=Git v.2.38.0

# https://packages.ubuntu.com/bionic/git-lfs
gitLFSLinuxComponentVersion=2.3.4-1
gitLFSLinuxComponentName=Git LFS v.2.3.4