tag=latest-nanoserver-1903
repo=https://hub.docker.com/r/jetbrains/
# https://hub.docker.com/_/microsoft-powershell
powershellImage=mcr.microsoft.com/powershell:nanoserver-1903
# https://hub.docker.com/_/microsoft-windows-nanoserver
nanoserverImage=mcr.microsoft.com/windows/nanoserver:1903
teamcityWindowsservercoreImage=teamcity-agent:latest-windowsservercore-1903