serverCommentHeader=This is an official [JetBrains TeamCity](https://www.jetbrains.com/teamcity/) server image. The image is suitable for production use and evaluation purposes.

agentCommentHeader=This is an official [JetBrains TeamCity](https://www.jetbrains.com/teamcity/) build agent image.

proxyUrl=
powerShellComponentName=[PowerShell](https://github.com/PowerShell/PowerShell#get-powershell)
