serverCommentHeader=This is an official [JetBrains TeamCity](https://www.jetbrains.com/teamcity/) server image. The image is suitable for production use and evaluation purposes.

agentCommentHeader=This is an official [JetBrains TeamCity](https://www.jetbrains.com/teamcity/) build agent image.

proxyUrl=
powerShellComponentName=[PowerShell](https://github.com/PowerShell/PowerShell#get-powershell)

# For images based on ready-made TeamCity images
refVersionTag=2020.1.5

dotnetLatestComponentVersion=5.0.100
dotnetLatestComponentName=.NET SDK x64 v.${dotnetLatestComponentVersion}

dotnetComponentVersion=3.1.404
dotnetComponentName=.NET SDK x64 v.${dotnetComponentVersion}