######################################################################################
#                                                                                    #
#            TeamCity Docker Images Common Configuration                             #
#                                                                                    #
# This configuration file is used to specify common settings for TeamCity Docker     #
# images. Please note that the versions of different tools may reference SHA-512     #
# checksums within OS-specific configuration files - they must be updated            #
# accordingly.                                                                       #
#                                                                                    #
######################################################################################


serverCommentHeader=This is an official [JetBrains TeamCity](https://www.jetbrains.com/teamcity/) server image. The image is suitable for production use and evaluation purposes.
agentCommentHeader=This is an official [JetBrains TeamCity](https://www.jetbrains.com/teamcity/) build agent image.

proxyUrl=
powerShellComponentName=[PowerShell](https://github.com/PowerShell/PowerShell#get-powershell)


# Matches .NET Runtime 6.0.21 - https://dotnet.microsoft.com/en-us/download/dotnet/6.0
dotnetComponentVersion=6.0.413
dotnetComponentName=.NET SDK v.${dotnetComponentVersion}

# .NET 3.1.32 - https://dotnet.microsoft.com/en-us/download/dotnet/3.1
dotnetComponentVersion_31=3.1.32
dotnetComponentName_31=.NET Runtime v.${dotnetComponentVersion_31}

# .NET 5.0.17 - https://dotnet.microsoft.com/en-us/download/dotnet/5.0
dotnetComponentVersion_50=5.0.17
dotnetComponentName_50=.NET Runtime v.${dotnetComponentVersion_50}