# JDK for TeamCity Agents
# https://github.com/corretto/corretto-21/releases
jdkLinuxARM64ComponentMD5SUM=14e42338d8e0b52a69edaede9892ec23
jdkLinuxARM64Component=https://${proxyUrl}corretto.aws/downloads/resources/21.0.6.7.1/amazon-corretto-21.0.6.7.1-linux-aarch64.tar.gz
jdkLinuxARM64ComponentName=JDK <img align="center" height="18" src="/docs/media/corretto.png"> Amazon Corretto aarch64 v.21.0.6.7.1 Checksum (MD5) ${jdkLinuxARM64ComponentMD5SUM}

# JDK for TeamCity Server
# https://github.com/corretto/corretto-21/releases
jdkServerLinuxARM64ComponentMD5SUM=14e42338d8e0b52a69edaede9892ec23
jdkServerLinuxARM64Component=https://${proxyUrl}corretto.aws/downloads/resources/21.0.6.7.1/amazon-corretto-21.0.6.7.1-linux-aarch64.tar.gz
jdkServerLinuxARM64ComponentName=JDK <img align="center" height="18" src="/docs/media/corretto.png"> Amazon Corretto aarch64 v.21.0.6.7.1 Checksum (MD5) ${jdkServerLinuxARM64ComponentMD5SUM}

# https://dotnet.microsoft.com/download/dotnet/6.0
dotnetLinuxARM64ComponentVersion=${dotnetComponentVersion}
dotnetLinuxARM64Component=https://${proxyUrl}builds.dotnet.microsoft.com/dotnet/Sdk/${dotnetComponentVersion}/dotnet-sdk-${dotnetComponentVersion}-linux-arm64.tar.gz
dotnetLinuxARM64ComponentSHA512=7f05a9774d79e694da5a6115d9916abf87a65e40bd6bdaa5dca1f705795436bc8e764242f7045207386a86732ef5519f60bdb516a3860e4860bca7ee91a21759
dotnetLinuxARM64ComponentName=${dotnetComponentName} ARM64 Checksum (SHA512) ${dotnetLinuxARM64ComponentSHA512}
