jdkLinuxARM64ComponentMD5SUM=234149693da218f25a610a363d376bfd
jdkLinuxARM64Component=https://${proxyUrl}corretto.aws/downloads/resources/8.272.10.3/amazon-corretto-8.272.10.3-linux-aarch64.tar.gz
jdkLinuxARM64ComponentName=JDK <img align="center" height="18" src="/logo/corretto.png"> Amazon Corretto aarch64 v.8.272.10.3 Checksum (MD5) ${jdkLinuxARM64ComponentMD5SUM}

jdkServerLinuxARM64ComponentMD5SUM=234149693da218f25a610a363d376bfd
jdkServerLinuxARM64Component=https://${proxyUrl}corretto.aws/downloads/resources/8.272.10.3/amazon-corretto-8.272.10.3-linux-aarch64.tar.gz
jdkServerLinuxARM64ComponentName=JDK <img align="center" height="18" src="/logo/corretto.png"> Amazon Corretto aarch64 v.8.272.10.3 Checksum (MD5) ${jdkServerLinuxARM64ComponentMD5SUM}
