linuxPlatform=linux

# https://github.com/corretto/corretto-17/releases
jdkLinuxComponentMD5SUM=443750a02c28ff2807c80032ee2e8ebc
jdkLinuxComponent=https://${proxyUrl}corretto.aws/downloads/resources/17.0.7.7.1/amazon-corretto-17.0.7.7.1-linux-x64.tar.gz
jdkLinuxComponentName=JDK <img align="center" height="18" src="/docs/media/corretto.png"> Amazon Corretto x64 v.17.0.7.7.1 Checksum (MD5) ${jdkLinuxComponentMD5SUM}

# https://github.com/corretto/corretto-17/releases
jdkServerLinuxComponentMD5SUM=443750a02c28ff2807c80032ee2e8ebc
jdkServerLinuxComponent=https://${proxyUrl}corretto.aws/downloads/resources/17.0.7.7.1/amazon-corretto-17.0.7.7.1-linux-x64.tar.gz
jdkServerLinuxComponentName=JDK <img align="center" height="18" src="/docs/media/corretto.png"> Amazon Corretto x64 v.17.0.7.7.1 Checksum (MD5) ${jdkLinuxComponentMD5SUM}

# https://dotnet.microsoft.com/download/dotnet/6.0
dotnetLinuxComponentVersion=${dotnetComponentVersion}
dotnetLinuxComponent=https://${proxyUrl}dotnetcli.blob.core.windows.net/dotnet/Sdk/${dotnetComponentVersion}/dotnet-sdk-${dotnetComponentVersion}-linux-x64.tar.gz
dotnetLinuxComponentSHA512=ee0a77d54e6d4917be7310ff0abb3bad5525bfb4beb1db0c215e65f64eb46511f5f12d6c7ff465a1d4ab38577e6a1950fde479ee94839c50e627020328a702de
dotnetLinuxComponentName=${dotnetComponentName} x86 Checksum (SHA512) ${dotnetLinuxComponentSHA512}

# https://packages.ubuntu.com/focal/git
# http://ppa.launchpad.net/git-core/ppa/ubuntu/dists/focal/main/binary-amd64/
gitLinuxComponentVersion=1:2.47.1-0ppa1~ubuntu22.04.1
gitLinuxComponentName=Git v.2.47.1

# https://packages.ubuntu.com/focal/git-lfs
gitLFSLinuxComponentVersion=3.0.2-1
gitLFSLinuxComponentName=Git LFS v.3.0.2-1

dockerLinuxComponentVersion=5:27.3.1-1~ubuntu
dockerLinuxComponentName=[Docker v.27.3.1](https://docs.docker.com/engine/release-notes/27)

containerdIoLinuxComponentName=[Containerd.io v1.6.28-2](https://github.com/containerd/containerd/releases/tag/v1.6.28)
containerdIoLinuxComponentVersion=1.6.28-2

# https://www.perforce.com/perforce-packages
# https://package.perforce.com/apt/ubuntu/dists/focal/release/binary-amd64/Packages
p4Version=2022.2-2693782
p4Name=Perforce Helix Core client (p4) [2022.2-2693782](https://www.perforce.com/products/helix-core)