linuxPlatform=linux

jdkLinuxComponentName=JDK <img align="center" height="18" src="/logo/corretto.png"> Amazon Corretto x64 v.8.272.10.3
jdkLinuxMD5SUM=9b9889f6907274aee4814d134beb22d9
jdkLinuxComponent=https://${proxyUrl}corretto.aws/downloads/resources/8.272.10.3/amazon-corretto-8.272.10.3-linux-x64.tar.gz

jdkServerLinuxComponentName=JDK <img align="center" height="18" src="/logo/corretto.png"> Amazon Corretto x64 v.11.0.9.11.1
jdkServerLinuxMD5SUM=aecee89c6817a26c74587c69cc5c2967
jdkServerLinuxComponent=https://${proxyUrl}corretto.aws/downloads/resources/11.0.9.11.1-1/amazon-corretto-11.0.9.11.1-linux-x64.tar.gz

dotnetLatestLinuxComponentVersion=${dotnetLatestComponentVersion}
dotnetLatestLinuxComponentName=${dotnetLatestComponentName}
dotnetLatestLinuxComponent=https://${proxyUrl}dotnetcli.blob.core.windows.net/dotnet/Sdk/${dotnetLatestComponentVersion}/dotnet-sdk-${dotnetLatestComponentVersion}-linux-x64.tar.gz

dotnetLinuxComponentVersion=${dotnetComponentVersion}
dotnetLinuxComponentName=${dotnetComponentName}
dotnetLinuxComponent=https://${proxyUrl}dotnetcli.blob.core.windows.net/dotnet/Sdk/${dotnetComponentVersion}/dotnet-sdk-${dotnetComponentVersion}-linux-x64.tar.gz

# https://packages.ubuntu.com/focal/git
gitLinuxComponentVersion=1:2.25.1-1ubuntu3
gitLinuxComponentName=Git v.2.25.1

dockerComposeLinuxComponentVersion=1.24.1
dockerLinuxComponentVersion=5:19.03.13~3-0~ubuntu                       
dockerLinuxComponentName=[Docker v.19.03.13](https://github.com/docker/docker-ce/releases/tag/v19.03.13)