linuxPlatform=linux

# https://github.com/corretto/corretto-17/releases
jdkLinuxComponentMD5SUM=443750a02c28ff2807c80032ee2e8ebc
jdkLinuxComponent=https://${proxyUrl}corretto.aws/downloads/resources/17.0.7.7.1/amazon-corretto-17.0.7.7.1-linux-x64.tar.gz
jdkLinuxComponentName=JDK <img align="center" height="18" src="/logo/corretto.png"> Amazon Corretto x64 v.17.0.7.7.1 Checksum (MD5) ${jdkLinuxComponentMD5SUM}

# https://github.com/corretto/corretto-17/releases
jdkServerLinuxComponentMD5SUM=443750a02c28ff2807c80032ee2e8ebc
jdkServerLinuxComponent=https://${proxyUrl}corretto.aws/downloads/resources/17.0.7.7.1/amazon-corretto-17.0.7.7.1-linux-x64.tar.gz
jdkServerLinuxComponentName=JDK <img align="center" height="18" src="/logo/corretto.png"> Amazon Corretto x64 v.17.0.7.7.1 Checksum (MD5) ${jdkLinuxComponentMD5SUM}

# https://dotnet.microsoft.com/download/dotnet/6.0
dotnetLinuxComponentVersion=${dotnetComponentVersion}
dotnetLinuxComponent=https://${proxyUrl}dotnetcli.blob.core.windows.net/dotnet/Sdk/${dotnetComponentVersion}/dotnet-sdk-${dotnetComponentVersion}-linux-x64.tar.gz
dotnetLinuxComponentSHA512=4390ba65e592c4f770b247f11228bbd2ed70aab30fbe6613c2bf7ec0c7c54d09b5a47ff160d4424dacc59661613fd4c9460d62f141a64def02a7228dd160f916
dotnetLinuxComponentName=${dotnetComponentName} x86 Checksum (SHA512) ${dotnetLinuxComponentSHA512}

# https://dotnet.microsoft.com/download/dotnet/3.1
dotnetLinuxComponentVersion_31=${dotnetComponentVersion_31}
dotnetLinuxComponent_31=https://${proxyUrl}dotnetcli.azureedge.net/dotnet/Runtime/${dotnetComponentVersion_31}/dotnet-runtime-${dotnetComponentVersion_31}-linux-x64.tar.gz
dotnetLinuxComponentSHA512_31=56c5e045844f5474a9a12b42e4a22c851985fac5690e227ce62b529d644c4faeaafdfe255de2f1e86a90c0c114e7de66ce4de1692fbf66357ac4d35341f933c3
dotnetLinuxComponentName_31=${dotnetComponentName_31} x86 Checksum (SHA512) ${dotnetLinuxComponentSHA512_31}

# https://dotnet.microsoft.com/download/dotnet/5.0
dotnetLinuxComponentVersion_50=${dotnetComponentVersion_50}
dotnetLinuxComponent_50=https://${proxyUrl}dotnetcli.azureedge.net/dotnet/Runtime/${dotnetComponentVersion_50}/dotnet-runtime-${dotnetComponentVersion_50}-linux-x64.tar.gz
dotnetLinuxComponentSHA512_50=f47eec03d2b6777e78e2a993306727fa6871cf7f6e295ed70f684745a9f9fc960f0068750007519733426db52afa10e0bcd1c58879019d5d8f1f5f295868e4f3
dotnetLinuxComponentName_50=${dotnetComponentName_50} x86 Checksum (SHA512) ${dotnetLinuxComponentSHA512_50}

# https://packages.ubuntu.com/focal/git
# http://ppa.launchpad.net/git-core/ppa/ubuntu/dists/focal/main/binary-amd64/
gitLinuxComponentVersion=1:2.42.0-0ppa1~ubuntu20.04.1
gitLinuxComponentName=Git v.2.42.0

# https://packages.ubuntu.com/focal/git-lfs
gitLFSLinuxComponentVersion=2.9.2-1
gitLFSLinuxComponentName=Git LFS v.2.9.2

dockerComposeLinuxComponentVersion=1.28.5
dockerLinuxComponentVersion=5:20.10.12~3-0~ubuntu
dockerLinuxComponentName=[Docker v.5:20.10.12](https://github.com/docker/cli/releases/tag/v20.10.12)

containerdIoLinuxComponentName=[Containerd.io v1.4.12-1](https://ubuntu.pkgs.org/20.04/docker-ce-stable-amd64/containerd.io_1.4.12-1_amd64.deb.html)
containerdIoLinuxComponentVersion=1.4.12-1

# https://www.perforce.com/perforce-packages
# https://package.perforce.com/apt/ubuntu/dists/focal/release/binary-amd64/Packages
p4Version=2022.2-2468771
p4Name=Perforce Helix Core client (p4) [2022.2-2468771](https://www.perforce.com/products/helix-core)
