# https://github.com/corretto/corretto-17/releases
jdkLinuxARM64ComponentMD5SUM=c55e3d0615fac07f948ac3adaed818e9
jdkLinuxARM64Component=https://${proxyUrl}corretto.aws/downloads/resources/17.0.7.7.1/amazon-corretto-17.0.7.7.1-linux-aarch64.tar.gz
jdkLinuxARM64ComponentName=JDK <img align="center" height="18" src="/docs/media/corretto.png"> Amazon Corretto aarch64 v.17.0.7.7.1 Checksum (MD5) ${jdkLinuxARM64ComponentMD5SUM}

# https://github.com/corretto/corretto-17/releases
jdkServerLinuxARM64ComponentMD5SUM=c55e3d0615fac07f948ac3adaed818e9
jdkServerLinuxARM64Component=https://${proxyUrl}corretto.aws/downloads/resources/17.0.7.7.1/amazon-corretto-17.0.7.7.1-linux-aarch64.tar.gz
jdkServerLinuxARM64ComponentName=JDK <img align="center" height="18" src="/docs/media/corretto.png"> Amazon Corretto aarch64 v.17.0.7.7.1 Checksum (MD5) ${jdkServerLinuxARM64ComponentMD5SUM}

# https://dotnet.microsoft.com/download/dotnet/8.0
dotnetLinuxARM64ComponentVersion=${dotnetComponentVersion}
dotnetLinuxARM64Component=https://${proxyUrl}dotnetcli.blob.core.windows.net/dotnet/Sdk/${dotnetComponentVersion}/dotnet-sdk-${dotnetComponentVersion}-linux-arm64.tar.gz
dotnetLinuxARM64ComponentSHA512=9b939f09fbda8a080b1266914ca02c4d60a95e85fa6a1344c378d394697de6935eb7d941dd9a3aeb977ada3aab561c614a5fe9b973824899cb02aa74e9c09988
dotnetLinuxARM64ComponentName=${dotnetComponentName} ARM64 Checksum (SHA512) ${dotnetLinuxARM64ComponentSHA512}
