windowsPlatform=windows

# https://github.com/git-for-windows/git/releases/
gitWindowsComponent=https://${proxyUrl}github.com/git-for-windows/git/releases/download/v2.47.1.windows.1/MinGit-2.47.1-64-bit.zip
gitWindowsComponentSHA256=50b04b55425b5c465d076cdb184f63a0cd0f86f6ec8bb4d5860114a713d2c29a
gitWindowsComponentName=Git x64 v.2.47.1 Checksum (SHA256) ${gitWindowsComponentSHA256}

# https://github.com/corretto/corretto-17/releases
jdkServerWindowsComponentMD5SUM=feb7eab99c647a0b4347be9f0a3276de
jdkServerWindowsComponent=https://${proxyUrl}corretto.aws/downloads/resources/17.0.7.7.1/amazon-corretto-17.0.7.7.1-windows-x64-jdk.zip
jdkServerWindowsComponentName=JDK <img align="center" height="18" src="/docs/media/corretto.png"> Amazon Corretto x64 v.17.0.7.7.1 Checksum (MD5) ${jdkServerWindowsComponentMD5SUM}

# https://github.com/corretto/corretto-17/releases
jdkWindowsComponentMD5SUM=feb7eab99c647a0b4347be9f0a3276de
jdkWindowsComponent=https://${proxyUrl}corretto.aws/downloads/resources/17.0.7.7.1/amazon-corretto-17.0.7.7.1-windows-x64-jdk.zip
jdkWindowsComponentName=JDK <img align="center" height="18" src="/docs/media/corretto.png"> Amazon Corretto x64 v.17.0.7.7.1 Checksum (MD5) ${jdkWindowsComponentMD5SUM}

# https://dotnet.microsoft.com/download/dotnet/8.0
dotnetWindowsComponentVersion=${dotnetComponentVersion}
dotnetWindowsComponent=https://${proxyUrl}dotnetcli.blob.core.windows.net/dotnet/Sdk/${dotnetComponentVersion}/dotnet-sdk-${dotnetComponentVersion}-win-x64.zip
dotnetWindowsComponentSHA512=88095e181228e9e496574ed6f36582303533369cd253f41abad6c3aaa7d23436736a3fb1dd6c908032b2cfda445f66d50628516395783bef3d5ee9bbb00edcd2
dotnetWindowsComponentName=${dotnetComponentName} x86 Checksum (SHA512) ${dotnetWindowsComponentSHA512}

mercurialWindowsComponentName=Mercurial x64 v.5.9.1
mercurialWindowsComponent=https://${proxyUrl}www.mercurial-scm.org/release/windows/mercurial-5.9.1-x64.msi
