windowsPlatform=windows

gitWindowsComponentName=Git x64 v.2.19.1
gitWindowsComponent=https://${proxyUrl}github.com/git-for-windows/git/releases/download/v2.19.1.windows.1/MinGit-2.19.1-64-bit.zip

jdkServerWindowsComponentName=JDK <img align="center" height="18" src="/logo/corretto.png"> Amazon Corretto x64 v.11.0.8.10.1
jdkServerWindowsComponent=https://${proxyUrl}corretto.aws/downloads/resources/11.0.8.10.1/amazon-corretto-11.0.8.10.1-windows-x64-jdk.zip

jdkWindowsComponentName=JDK <img align="center" height="18" src="/logo/corretto.png"> Amazon Corretto x64 v.8.252.09.2
jdkWindowsComponent=https://${proxyUrl}corretto.aws/downloads/resources/8.252.09.2/amazon-corretto-8.252.09.2-windows-x64-jdk.zip

jreWindowsComponentName=JRE <img align="center" height="18" src="/logo/corretto.png"> Amazon Corretto x64 v.8.252.09.2
jreWindowsComponent=https://${proxyUrl}corretto.aws/downloads/resources/8.252.09.2/amazon-corretto-8.252.09.2-windows-x64-jre.zip

dotnetCoreWindowsComponentVersion=3.1.401
dotnetCoreWindowsComponentName=.NET SDK x64 v.3.1.401
dotnetCoreWindowsComponent=https://${proxyUrl}dotnetcli.blob.core.windows.net/dotnet/Sdk/3.1.401/dotnet-sdk-3.1.401-win-x64.zip
