windowsPlatform=windows
windowsLogo=<img align="center" height="64" src="/logo/windows.png">
windowsNanoLogo=<img align="center" height="64" src="/logo/windows_nano.png">

gitWindowsComponentName=<img align="center" height="18" src="/logo/git.png"> x64 v.2.19.1
gitWindowsComponent=https://github.com/git-for-windows/git/releases/download/v2.19.1.windows.1/MinGit-2.19.1-64-bit.zip

mercurialWindowsComponentName=<img align="center" height="18" src="/logo/mercurial.png"> Mercurial x64 v.4.7.2
mercurialWindowsComponent=https://bitbucket.org/tortoisehg/files/downloads/mercurial-4.7.2-x64.msi

jdkServerWindowsComponentName=<img align="center" height="18" src="/logo/corretto.png"> JDK Amazon Corretto x64 v.11.0.7.10.1
jdkServerWindowsComponent=https://corretto.aws/downloads/resources/11.0.7.10.1/amazon-corretto-11.0.7.10.1-windows-x64-jdk.zip

jdkWindowsComponentName=<img align="center" height="18" src="/logo/corretto.png"> JDK Amazon Corretto x64 v.8.252.09.2
jdkWindowsComponent=https://corretto.aws/downloads/resources/8.252.09.2/amazon-corretto-8.252.09.2-windows-x64-jdk.zip

jreWindowsComponentName=<img align="center" height="18" src="/logo/corretto.png"> JRE Amazon Corretto x64 v.8.252.09.2
jreWindowsComponent=https://corretto.aws/downloads/resources/8.252.09.2/amazon-corretto-8.252.09.2-windows-x64-jre.zip

dotnetCoreWindowsComponentVersion=3.1.300
dotnetCoreWindowsComponentName=<img align="center" height="18" src="/logo/dotnetcore.png"> SDK x64 v.3.1.300
dotnetCoreWindowsComponent=https://dotnetcli.blob.core.windows.net/dotnet/Sdk/3.1.300/dotnet-sdk-3.1.300-win-x64.zip
