windowsBuild=2004
tag=windowsservercore-${windowsBuild}
repo=
# https://hub.docker.com/_/microsoft-dotnet-framework-sdk/
windowsservercoreImage=mcr.microsoft.com/dotnet/framework/sdk:4.8-windowsservercore-${windowsBuild}
teamcityMinimalAgentImage=teamcity-minimal-agent:${versionTag}-nanoserver-${windowsBuild}